@font-face {
    font-family: 'DIN 2014';
    src: url('DIN2014-Regular.woff2') format('woff2'),
        url('DIN2014-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Medium.woff2') format('woff2'),
        url('HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN2014';
    src: url('DIN2014-Bold.woff2') format('woff2'),
        url('DIN2014-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

